<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
<session-factory>
<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
<property name="connection.url">jdbc:mysql://localhost/jwt</property>
<property name="connection.username">root</property>
<property name="connection.password">root</property>
<property name="connection.pool_size">10</property>
<property name="show_sql">true</property>
<property name="format_sql">true</property>
<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
<property name="hbm2ddl.auto">update</property>
<property name="hibernate.current_session_context_class">thread</property>


<!-- <mapping resource="com/jwt/hibernate/bean/user.hbm.xml"/>
<mapping resource="com/jwt/hibernate/bean/client.hbm.xml"/>
<mapping resource="com/jwt/hibernate/bean/skill.hbm.xml"/>
<mapping resource="com/jwt/hibernate/bean/serviceLine.hbm.xml"/> -->
<mapping class="com.jwt.hibernate.bean.User"/>
<mapping class="com.jwt.hibernate.bean.Client"/>
<mapping class="com.jwt.hibernate.bean.ServiceLine"/>
<mapping class="com.jwt.hibernate.bean.Skill"/>
</session-factory>
</hibernate-configuration>
